$def with (movies,count,key)
<h4>欢迎来到</h4>
<h1>Gege's Movie Site</h1>
<form action="/" method="post">
    <input type="text" name ='title'>
    <input type="submit" value ='搜索'>
</form>
<hr>
$if count>0:
    <p>共$count影片
        $if key:
            与 <b><u>$key</u></b> 有关
    </p>
    <p>影片列表</p>
    $for movie in movies:
        <li>
            <a href="/movie/$movie['id']">$movie['title']</a>
        </li>
$else:
    <p>啊咧，没能找到符合条件的影片
        $if key:
            与 <b><u>$key</u></b> 有关
    </p>