<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }</style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据生成工具</title>


    <script type="text/javascript" src="/static/public/alert/alert.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/public/alert/alert.css" media="screen"/>
    <link href="/static/dataCreate/ys/jquery.fixedheadertable.theme.css" rel="stylesheet" type="text/css">


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/static/dataCreate/ys/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">

    <link href="/static/dataCreate/ys/style-metro.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/style.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/style-responsive.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="/static/dataCreate/ys/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/datepicker.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/DT_bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--[if IE 7]>
    <link rel="stylesheet" href="../media/css/font-awesome-ie7.css">
    <![endif]-->


    <link href="/static/dataCreate/ys/select2.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/bootstrapValidator.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/layoutcss" rel="stylesheet">
    <link href="/static/public/loading/loading1/loading.css" rel="stylesheet" type="text/css">

    <link href="/static/dataCreate/ys/site.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/PagedList.css" rel="stylesheet" type="text/css">
    <link href="/static/dataCreate/ys/blue.theme.css" rel="stylesheet" type="text/css">
    <script src="/static/dataCreate/jquery.min.js"></script>
    <script src="/static/dataCreate/bootstrap.min.js"></script>
    <script src="/static/dataCreate/promotionPriceFull.js"></script>

    <script type="text/javascript" src="/static/dataCreate/ys/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/dataCreate/ys/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/dataCreate/ys/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="/static/dataCreate/ys/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/dataCreate/ys/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/dataCreate/ys/bpm.js"></script>
    <!-- <script>
    window.onload = function () {
        alertMsg('1',1,'');
    }
    </script> -->


    <script>
        window.onload = function () {


            //获取浏览器页面可见高度和宽度
            var _PageHeight = document.documentElement.clientHeight,
                    _PageWidth = document.documentElement.clientWidth,
                    pageHeight1 = document.documentElement.scrollHeight,
                    windowHeight = $(document).height();
            if (_PageHeight > pageHeight1) {
                pageHeight1 = _PageHeight;
            }
            var loading = document.getElementById('loadingDiv');
            loading.setAttribute("height", pageHeight1);

        }

    </script>
    {#<script>#}
    {#$(document).ready(function(){#}
    {#    if ( id='commodity' )#}
    {#    {#}
    {#    $('#yuanliao').hide();}#}
    {#})#}
    {#</script>#}

</head>
<body class="page-header-fixed" style="background:#000; ">
<link href="/static/public/loading/loading1/loading.css" rel="stylesheet" type="text/css">
<div style="padding: 30px;">

    <h3 class="form-section">数据生成系统</h3>
    <h3>{{ aa }}</h3>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                <span class="hidden-480">新建原料</span>
            </div>

            <div class="actions">
                <button class="btn yellow" data-toggle="modal" data-target="#create_product"><i class="icon-plus"></i>
                    添加
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="addCommodity_amount_tb" style="">
                <thead>
                <tr>
                    <th>
                        原料ID
                    </th>
                    <th>
                        原料编码
                    </th>
                    <th>
                        原料名称
                    </th>
                    <th>
                        原料平台
                    </th>
                    <th>
                        存储类型
                    </th>
                    <th>
                        原料分类
                    </th>
                    <th>
                        组成数量
                    </th>
                    <th>
                        税率
                    </th>
                </tr>
                {% for product in productDetails %}
                    <tr>

                        <th>{{ product.productId }}</th>
                        <th>{{ product.productCode }}</th>
                        <th>{{ product.productName }}</th>
                        <th>{{ product.webId }}</th>
                        <th>{{ product.storedType }}</th>
                        <th>{{ product.productCategory }}</th>
                        <th>{{ product.unitAmount }}</th>
                        <th>{{ product.taxRate }}</th>


                    </tr>
                {% endfor %}
                </thead>
                <tbody>
                </tbody>
            </table>

            <div id="div_addCommodity"></div>

        </div>
    </div>

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                <span class="hidden-480">新建商品</span>
            </div>

            <div class="actions">
                <button class="btn yellow" data-toggle="modal" data-target="#create_commodity"><i class="icon-plus"></i>
                    添加
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="addCommodity_amount_tb" style="">
                <thead>
                <tr>
                    <th>
                        商品ID
                    </th>
                    <th>
                        商品编码
                    </th>
                    <th>
                        渠道商品ID
                    </th>
                    <th>
                        渠道商品编码
                    </th>

                    <th>
                        存储类型
                    </th>

                    <th>

                        商品平台
                    </th>
                    <th>
                        统一码
                    </th>
                    <th>
                        是否自由拼
                    </th>
                    <th>
                        渠道
                    </th>
                    <th>

                        原料Code
                    </th>
                    <th>
                        原料数量
                    </th>
                </tr>
                {% for commodity in commodityDetails %}
                    <tr>
                        {% if commodity.isDisable %}
                            <th>{{ commodity.MainCommodityId }}</th>
                            <th>{{ commodity.MainCommodityCode }}</th>
                            <th>{{ commodity.CommodityId }}</th>
                            <th>{{ commodity.CommodityCode }}</th>
                            <th>{{ commodity.ChannelName }}</th>
                            <th>{{ commodity.WebId }}</th>
                            <th>{{ commodity.IsFreedom }}</th>
                            <th>{{ commodity.StoredType }}</th>
                            <th>{{ commodity.CommodityBarCodeOwn }}</th>
                            <th></th>
                            <th></th>
                        {% else %}
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ commodity.ProductCode }}</th>
                            <th>{{ commodity.ProductCount }}</th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                <span class="hidden-480">新建订单</span>
            </div>

            <div class="actions">
                <a href="/testWeb/order/"><font color='red'>修改订单</font></a>
                <button class="btn yellow" data-toggle="modal" data-target="#create_order"><i class="icon-plus"></i> 添加
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="addCommodity_amount_tb" style="">
                <thead>
                <tr>
                    <th>
                        订单流水号
                    </th>
                    <th>
                        商品编码
                    </th>
                    <th>
                        商品平台
                    </th>
                    <th>
                        存储类型
                    </th>
                    <th>
                        是否自由拼
                    </th>
                    <th>
                        是否统一码
                    </th>
                    <th>
                        商品数量
                    </th>
                    <th>
                        配送时间
                    </th>
                    <th>
                        发货区
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        前台备注
                    </th>
                </tr>
                {% for order in orderDetails %}
                    <tr>
                        {% if order.order.isDisable %}
                            <th>{{ order.order.serialNumber }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ order.order.deliveryDate|date:'Y-m-d' }}</th>
                            <th>{{ order.order.areaCode }}</th>
                            <th>{{ order.order.userName }}</th>
                            <th>{{ order.order.webRemark }}</th>
                            </tr>
                            <tr>
                            <th></th>
                            <th>{{ order.commodityCode }}</th>
                            <th>{{ order.webId }}</th>
                            <th>{{ order.storedType }}</th>
                            <th>{{ order.isfreedom }}</th>
                            <th>{{ order.isUnicode }}</th>
                            <th>{{ order.commodityCount }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        {% else %}
                            <th></th>
                            <th>{{ order.commodityCode }}</th>
                            <th>{{ order.webId }}</th>
                            <th>{{ order.storedType }}</th>
                            <th>{{ order.isfreedom }}</th>
                            <th>{{ order.isUnicode }}</th>
                            <th>{{ order.commodityCount }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        {% endif %}

                        </tr>
                {% endfor %}
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                <span class="hidden-480">新建采购单</span>
            </div>

            <div class="actions">
                <button class="btn yellow" data-toggle="modal" data-target="#create_procurement"><i
                        class="icon-plus"></i>
                    添加
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="addCommodity_amount_tb" style="">
                <thead>
                <tr>
                    <th>
                        采购单编码
                    </th>
                    <th>
                        发货区
                    </th>
                    <th>
                        原料名称
                    </th>
                    <th>
                        原料编码
                    </th>
                    <th>
                        数量
                    </th>

                </tr>
                {% for procurement in procurementDetails %}
                    <tr>
                        {% if procurement.isDisable %}
                            <th>{{ procurement.procurementCode }}</th>
                            <th>{{ procurement.areaCode }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        {% else %}
                            <th></th>
                            <th></th>
                            <th>{{ procurement.productName }}</th>
                            <th>{{ procurement.productCode }}</th>
                            <th>{{ procurement.ProductCount }}</th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                <span class="hidden-480">商品原料库存</span>
            </div>

            <div class="actions">
                <button class="btn yellow" data-toggle="modal" data-target="#create_stock"><i class="icon-plus"></i>
                    添加
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="addCommodity_amount_tb" style="">
                <thead>

                {% if b1 %}
                    <tr id='yuanliao'>

                        <th>
                            原料编码
                        </th>
                        <th>
                            原料名称
                        </th>
                        <th>
                            发货区
                        </th>
                        <th>
                            商品平台
                        </th>
                        <th>
                            库存数量
                        </th>

                    </tr>
                    {% for pstock in pstockDetails %}
                        <tr>

                                <th>{{ pstock.ProductCode }}</th>
                                <th>{{ pstock.ProductName }}</th>
                                <th>{{ pstock.areaCode }}</th>
                                <th>{{ pstock.WebId }}</th>
                                <th>{{ pstock.Stock }}</th>

                        </tr>
                    {% endfor %}
                    {% for rstock in rstockDetails %}
                        <tr>
                        {% if rstock.isDisable %}
                            <th>{{ rstock.ProductCode }}</th>
                            <th>{{ rstock.ProductName }}</th>
                            <th>{{ rstock.areaCode }}</th>
                            <th>{{ rstock.WebId }}</th>
                            <th>{{ rstock.Stock }}</th>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if b2 %}
                    <tr id="shangpin">


                        <th>
                            商品编码
                        </th>
                        <th>
                            商品名称
                        </th>
                        <th>
                            发货区
                        </th>
                        <th>
                            商品平台
                        </th>
                        <th>
                            库存数量
                        </th>

                    </tr>
                    {% for cstock in cstockDetails %}
                        <tr>
                        {% if cstock.isDisable %}
                            <th id>{{ cstock.CommodityCode }}</th>
                            <th>{{ cstock.CommodityName }}</th>
                            <th>{{ cstock.areaCode }}</th>
                            <th>{{ cstock.WebId }}</th>
                            <th>{{ cstock.Stock }}</th>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

   <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>
                <span class="hidden-480">新建卡券</span>
            </div>

            <div class="actions">
                <button class="btn yellow" data-toggle="modal" data-target="#create_card"><i class="icon-plus"></i>
                    添加
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="addCard_amount_tb" style="">
                <thead>

                {% if b1 %}
                    <tr id='yuanliao'>

                        <th>
                            卡券批次
                        </th>
                        <th>
                            提货券编号
                        </th>
                        <th>
                            卡券数量
                        </th>
                        <th>
                            卡券内商品数量
                        </th>
                        <th>
                            可提商品数量
                        </th>
                        <th>
                            卡券描述
                        </th>
                        <th>
                            卡券价格
                        </th>
                        <th>
                            发货区
                        </th>
                        <th>
                            是否代销
                        </th>
                        <th>
                            卡券类型
                        </th>

                    </tr>
                    {% for Mcard in McardDetails %}
                        <tr>
{#                            {% if Mcard.isDisable %}#}
                                <th>{{ Mcard.BatchCode }}</th>
                                <th>{{ Mcard.CardCode }}</th>
                                <th>{{ Mcard.CardCount}}</th>
                                <th>{{ Mcard.DeliveryNum }}</th>
                                <th>{{ Mcard.BoxCommodityNum }}</th>
                                <th>{{ Mcard.CardDescribe }}</th>
                                <th>{{ Mcard.CardPrice }}</th>
                                <th>{{ Mcard.AreaCode }}</th>
                                <th>{{ Mcard.IsSale }}</th>
                                <th>{{ Mcard.CardType }}</th>

{#                            {% endif %}#}
                        </tr>
                    {% endfor %}

                {% endif %}
                {% if b2 %}
                    <tr id="shangpin">
                        <th>
                            卡券批次
                        </th>
                        <th>
                            提货券编号
                        </th>
                        <th>
                            卡券数量
                        </th>
                        <th>
                            卡券内礼盒数量
                        </th>
                        <th>
                            可提礼盒数量
                        </th>
                        <th>
                            卡券描述
                        </th>
                        <th>
                            卡券价格
                        </th>
                        <th>
                            发货区
                        </th>
                        <th>
                            是否代销
                        </th>
                        <th>
                            卡券类型
                        </th>

                    </tr>
                    {% for Tcard in TcardDetails %}
                        <tr>
 {#                       {% if Tcard.isDisable %}#}
                                <th>{{ Tcard.BatchCode }}</th>
                                <th>{{ Tcard.CardCode }}</th>
                                <th>{{ Tcard.CardCount}}</th>
                                <th>{{ Tcard.DeliveryNum }}</th>
                                <th>{{ Tcard.BoxCommodityNum }}</th>
                                <th>{{ Tcard.CardDescribe }}</th>
                                <th>{{ Tcard.CardPrice }}</th>
                                <th>{{ Tcard.AreaCode }}</th>
                                <th>{{ Tcard.IsSale }}</th>
                                <th>{{ Tcard.CardType }}</th>
  {#                         {% endif %}#}
                    {% endfor %}
                {% endif %}
             {% if b3 %}
                    <tr id='yuanliao'>

                        <th>
                            卡券批次
                        </th>
                        <th>
                            提货券编号
                        </th>
                        <th>
                            卡券数量
                        </th>
                        <th>
                            卡券内礼盒数量
                        </th>
                        <th>
                            礼盒内商品数量
                        </th>
                        <th>
                            卡券描述
                        </th>
                        <th>
                            卡券价格
                        </th>
                        <th>
                            发货区
                        </th>
                        <th>
                            是否代销
                        </th>
                        <th>
                            卡券类型
                        </th>

                    </tr>
                    {% for Lcard in LcardDetails %}
                        <tr>
{#                            {% if Mcard.isDisable %}#}
                                <th>{{ Lcard.BatchCode }}</th>
                                <th>{{ Lcard.CardCode }}</th>
                                <th>{{ Lcard.CardCount}}</th>
                                <th>{{ Lcard.DeliveryNum }}</th>
                                <th>{{ Lcard.BoxCommodityNum }}</th>
                                <th>{{ Lcard.CardDescribe }}</th>
                                <th>{{ Lcard.CardPrice }}</th>
                                <th>{{ Lcard.AreaCode }}</th>
                                <th>{{ Lcard.IsSale }}</th>
                                <th>{{ Lcard.CardType }}</th>

{#                            {% endif %}#}
                        </tr>
                    {% endfor %}

                {% endif %}
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


{% include "create/product.html" %}
{% include "create/commodity.html" %}
{% include "create/order.html" %}
{% include "create/procurement.html" %}
{% include "create/stock.html" %}
{% include "create/card.html" %}

<div id="loadingDiv"
     style="position:absolute;left:0;width:100%;height:2547px;top:0;background:rgba(0, 0, 0, 0.75);opacity:1;filter:alpha(opacity=80);z-index:30000;display:none">
    <div id="colorfulPulse">
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
        <span class="item-5"></span>
        <span class="item-6"></span>
        <span class="item-7"></span>
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
        <span class="item-5"></span>
        <span class="item-6"></span>
        <span class="item-7"></span>
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <div id="container">
            <h1>服务器正在玩命创建中请小歇片刻耐心等待 <i class="icon-coffee"></i></h1>
        </div>
    </div>

</div>


</body>
</html>