<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>新建订单</title>
    <link rel="pingback" href="http://172.0.0.1:80">
    <style type="text/css">
        .字符串输入框
        {
            width: 125px;
        }
        .订单行
        {
            margin-left: 150px;
            font-weight: bold;
        }
        .下拉框
        {
            width: 70px;
        }
        .commodityCount
        {
            width: 50px;
        }
        .商品行
        {
            margin-left: 225px;
        }
        
        .commodityCode
        
        {
        	width: 100px;
        }
        
    </style>


</head>
<body>

    <form action ="" method="post" id="Neworder" name="Neworder" runat="server">
    {% csrf_token %}
    <input 
                id="Hidden1" type="hidden" />
    <div align="left">
    
        <h1 style="color: #0000CC">
            <span lang="zh-cn">新建订单</span></h1>
        <p class="newStyle1">
            <span lang="zh-cn">新建订单：设置参数并生成订单数据</span></p>
        <p class="newStyle1">
            &nbsp;</p>
			
		<div style="width: 40%;float:left">
        <p class="订单行" align="left" 
            style="font-weight: bold; clip: rect(auto, auto, auto, 100px);">
            <span dir="ltr" lang="zh-cn" style="font-size: medium">用户名：&nbsp; </span>
            <input 
                class="" value="lbtest" name="userName" id="userName" type="text" /></p>     
        <p class="订单行">
            <span lang="zh-cn">发货区：&nbsp; 
            <select id="warehouse" class="" name="warehouse" >

                <option value="1">上海</option>
                <option value="4">宝山</option>
                <option value="2">北京</option>
                <option value="8">广州</option>
                <option value="16">武汉</option>
                <option value="32">成都</option>
                <option value="64">济南</option>
                <option value="128">福州</option>
            </select></span></p>
        <p class="订单行">
            <span lang="zh-cn">配送时间：</span>
           <input type="button" onclick="delivery()"
value="Display alert box" />
                   <script language="javascript" type="text/javascript">
    		 delivery= function
    		{
        	  	var now = new Date();
        	  	document.getElementById("deliveryDate").value=now.getFullYear()+"/"+eval(now.getMonth()+1)+"/"+eval(now.getDate()+1);
    	  	}
    		</script>

            <input id="deliveryDate" type="text" placeholder="" value="" name="deliveryDate" class="字符串输入框" />
     
        </p>

        <p class="订单行">
            <span lang="zh-cn">前台备注： </span>
            <input id="webRemark" class="webRemark" name="webRemark" type="text" /></p>
		</div >
		<div style="width: 60%;float:right;padding-top: 3%;width: 20%;padding-right: 40%;color: red;font-size: 200%;padding-bottom: 2%;"><p>这里显示错误信息</p></div>
		<div>
        <p class="订单行">
            <span lang="zh-cn">商品输入：</span></p>
            {% for group in line %}
        <p class="商品行" dir="ltr">
            <input id="commodity{{group}}" type="checkbox" value= "1" name="commodity{{group}}" class="commodity" /><span lang="zh-cn">&nbsp; 商品编码：<input 
                id="commodityCode{{group}}" class="commodityCode" name="commodityCode{{group}}", type="text" />&nbsp;&nbsp; 商品平台：<select 
                id="webID{{group}}" class="webID" name="webID{{group}}">
                <option value=1>易果</option>
                <option value=2>原膳</option>
                <option value=3>锦色</option>
            </select>&nbsp;&nbsp;&nbsp; 存储类型：<select id="storedType{{group}}" class="storedType{{group}}" name="storedType{{group}}">
                <option value=1>常温</option>
                <option value=2>冷冻</option>
                <option value=3>冷藏</option>
                <option value=4>活鲜</option>
            </select>&nbsp;&nbsp;&nbsp; 是否自由拼：</span><input id="isFreedom{{group}}" 
                type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 是否统一码：</span><input 
                id="isUnicode{{group}}" type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 数量：</span><input id="commodityCount{{group}}" class="commodityCount" name="commodityCount{{group}}", type="text" /></p>
             {% endfor %}
                <!--  
        <p class="商品行" dir="ltr">
            <input id="commodity2" type="checkbox" class="commodity2" /><span lang="zh-cn">&nbsp; 商品编码：<input 
                id="commodityCode2" class="commodityCode" type="text" />&nbsp;&nbsp; 商品平台：<select 
                id="webID2" class="webID2" name="webID2">
                <option value=1>易果</option>
                <option value=2>原膳</option>
                <option value=3>锦色</option>
            </select>&nbsp;&nbsp;&nbsp; 存储类型：<select id="storedType2" class="storedType2" name="storedType2">
                <option value=1>常温</option>
                <option value=2>冷冻</option>
                <option value=3>冷藏</option>
                <option value=4>活鲜</option>
            </select>&nbsp;&nbsp;&nbsp; 是否自由拼：</span><input id="isFreedom2" 
                type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 是否统一码：</span><input 
                id="isUnicode2" type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 数量：</span><input 
                id="commodityCount2" class="commodityCount" type="text" /></p>
        <p class="商品行" dir="ltr">
            <input id="commodity3" type="checkbox" class="commodity3" /><span lang="zh-cn">&nbsp; 商品编码：<input 
                id="commodityCode3" class="commodityCode" type="text" />&nbsp;&nbsp; 商品平台：<select 
                id="webID3" class="webID3" name="webID3">
                <option value=1>易果</option>
                <option value=2>原膳</option>
                <option value=3>锦色</option>
            </select>&nbsp;&nbsp;&nbsp; 存储类型：<select id="storedType3" class="storedType3" name="storedType1">
                <option value=1>常温</option>
                <option value=2>冷冻</option>
                <option value=3>冷藏</option>
                <option value=4>活鲜</option>
            </select>&nbsp;&nbsp;&nbsp; 是否自由拼：</span><input id="isFreedom3" 
                type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 是否统一码：</span><input 
                id="isUnicode3" type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 数量：</span><input 
                id="commodityCount3" class="commodityCount" type="text" /></p>
        <p class="商品行" dir="ltr">
           <input id="commodity4" type="checkbox" class="commodity4" /><span lang="zh-cn">&nbsp; 商品编码：<input 
                id="commodityCode" class="commodityCode" type="text" />&nbsp;&nbsp; 商品平台：<select 
                id="webID4" class="webID4" name="webID4">
                <option value=1>易果</option>
                <option value=2>原膳</option>
                <option value=3>锦色</option>
            </select>&nbsp;&nbsp;&nbsp; 存储类型：<select id="storedType4" class="storedType4" name="storedType4">
                <option value=1>常温</option>
                <option value=2>冷冻</option>
                <option value=3>冷藏</option>
                <option value=4>活鲜</option>
            </select>&nbsp;&nbsp;&nbsp; 是否自由拼：</span><input id="isFreedom4" 
                type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 是否统一码：</span><input 
                id="isUnicode4" type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 数量：</span><input 
                id="commodityCount4" class="commodityCount" type="text" /></p>
        <p class="商品行" dir="ltr">
           <input id="commodity5" type="checkbox" class="commodity5" /><span lang="zh-cn">&nbsp; 商品编码：<input 
                id="commodityCode" class="commodityCode" type="text" />&nbsp;&nbsp; 商品平台：<select 
                id="webID5" class="webID5" name="webID1">
                <option value=1>易果</option>
                <option value=2>原膳</option>
                <option value=3>锦色</option>
            </select>&nbsp;&nbsp;&nbsp; 存储类型：<select id="storedType5" class="storedType5" name="storedType5">
                <option value=1>常温</option>
                <option value=2>冷冻</option>
                <option value=3>冷藏</option>
                <option value=4>活鲜</option>
            </select>&nbsp;&nbsp;&nbsp; 是否自由拼：</span><input id="isFreedom5" 
                type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 是否统一码：</span><input 
                id="isUnicode5" type="checkbox" /><span lang="zh-cn">&nbsp;&nbsp;&nbsp; 数量：</span><input 
                id="commodityCount5" class="commodityCount" type="text" /></p>-->
        <p class="newStyle1">
            &nbsp;</p>
        <p class="订单行" title="新建订单">
            <span lang= "zh-cn">订单数量：<input id="orderCount" class="orderCount" name="orderCount" type="text" />&nbsp;
            </span>
            <button id="orderSubmit" type="subbmit"> 新建订单</button>
         
        <p>{{orderid}}</p>
		</div>
    </div>&nbsp;</form>

</body>
</html>
