<div class="modal fade" id="create_stock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="width: 75%; margin-left: 0px; top: 283.5px; left: 200px; ">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close activity_price_close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">商品原料库存</h4>
            </div>
            <form action="" method="post" style="margin-bottom:0px;" id="stock_form1">
            <div class="modal-body" style="margin:0 16px 0 16px; padding:8px 16px;">
                    <div id="sstockCreateContainer" style="width:100%; text-align:center;">
                        <input type="hidden" id="hid_category" name="categories">
                        <table class="table table-striped table-bordered table-hover innerTable" style="width:50%;"
                               id="sstock_tb">
                            <thead>
                            <tr>
                                <th >
                                    商品/原料
                                </th>
                                <th >
                                    商品/原料编码
                                </th>
                                <th >
                                    发货区
                                </th>
                                <th  >
                                    库存数量
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr id="sstock_tr_model" style="height:32px;">
                                <td>
              					<select name="selectType" class="sel_category" style="width:100%;">
                        			<option value="1">商品</option>
		                			<option value="2">原料</option>
                				</select>
                                </td>

                                <td>
                                    <input class="control-label inputElement" id="cpCode" name="cpCode"
                                           type="text" value="" style=" width: 90%;">

                                </td>
                                <td>
                                    <select name="sareaCode" class="sel_category" style=" width: 100%;left:0px">
                                        <option value="1">上海</option>
                                        <option value="4" selected>宝山</option>
                                        <option value="2">北京</option>
                                        <option value="8">广州</option>
                                        <option value="16">武汉</option>
                                        <option value="32">成都</option>
                                        <option value="64">济南</option>
                                        <option value="128">福州</option>
                                    </select>
                                </td>
                                <td><font id = "aaa">
                                    请进行查询</font>

                                </td>
                                <td>
                                <img src="/static/dataCreate/ys/loading2.gif" id="imgLoading" style="display:none;">
                                <input id="btnSelectStock" type="button" value="查询" class="btn green btnWidth"
                                    style="width: 70px;"/>
                                </td>      
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
            </form>
            <form action="" method="post" style="margin-bottom:0px;" id="stock_form">
            <div class="modal-body" style="margin:0 16px 0 16px; padding:8px 16px;">
                    <div><b>{{ last.product }}</b></div><br>
                    <div><b>若操作原料库存，则增/减库存数量必填</b></div><br>
                    </div>
                    <div id="pstockCreateContainer" style="width:100%; text-align:center;">
                        <input type="hidden" id="hid_category" name="categories">
                        <table class="table table-striped table-bordered table-hover innerTable" style="width:95%;"
                               id="pstock_tb">
                            <thead>
                            <tr>
                                <th style="width: 5%">
                                    <a onclick="return pstockAddObj.addPstock();"><i class="icon-plus"></i>添加原料</a>
                                </th>
                                <th style="width: 6%">
                                    增/减
                                </th>
                                <th style="width: 6%">
                                    增/减库存数量（必填）
                                </th>
                                <th style="width: 6%">
                                    发货区
                                </th>
                                <th style="width: 6%">
                                    温层
                                </th>
                                <th style="width: 6%">
                                    商品平台
                                </th>
                                <th style="width: 5%">
                                    原料名称
                                </th >
                                <th style="width: 5%">
                                    原料编码
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr id="pstock_tr_model" style="height:32px;">
                                <td style="text-align:center;padding-top: 20px;padding-bottom: 30px">
                                    <a onclick="pstockAddObj.delPstock(this);">删除</a>
                                </td>
                                <td>
              					<select name="selectPstock" class="sel_category" style="width:100%;">
                        			<option value="1">增加库存</option>
		                			<option value="2">减少库存</option>
                				</select>
                                </td>

                                <td>
                                    <input class="control-label inputElement" id="pstockNum" name="pstockNum"
                                           type="text" value="" style=" width: 90%;">

                                </td>
                                <td>
                                    <select name="pareaCode" class="sel_category" style=" width: 100%;left:0px">
                                        <option value="1">上海</option>
                                        <option value="4" selected>宝山</option>
                                        <option value="2">北京</option>
                                        <option value="8">广州</option>
                                        <option value="16">武汉</option>
                                        <option value="32">成都</option>
                                        <option value="64">济南</option>
                                        <option value="128">福州</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="pstoredType" class="sel_category" style="width:100%;left:0px">
                                        <option value=1>常温</option>
                                        <option value=2>冷藏</option>
                                        <option value=3>冷冻</option>
                                    </select>
                                </td>
                                <td>
              					<select name="pwebID" class="sel_category" style="width:100%;left:00px">
                        			<option value="1">易果</option>
		                			<option value="4">原膳</option>
		                			<option value="8">锦色</option>
                				</select>
                                </td>
                                <td>
                                    <input class="control-label inputElement" id="productName" name="productName"
                                           type="text" value="" style=" width: 90%;">

                                </td>

                                <td>
                                    <input class="control-label inputElement" id="productCode" name="productCode"
                                           type="text" value="" style=" width: 90%;">
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
             <div class="modal-body" style="margin:0 16px 0 16px; padding:8px 16px;">
                    <div><b>{{ last.commodity }}</b></div><br>

                    </div>
                    <div id="cstockCreateContainer" style="width:100%; text-align:center;">
                        <input type="hidden" id="hid_category" name="categories">
                        <table class="table table-striped table-bordered table-hover innerTable" style="width:95%;"
                               id="cstock_tb">
                            <thead>
                            <tr>
                                <th style="width:5%">
                                    <a onclick="return cstockAddObj.addCstock();"><i class="icon-plus"></i>添加商品</a>
                                </th>
                                <th style="width:6%">
                                    增/减
                                </th>
                                <th style="width:6%">
                                    增/减库存数量
                                </th>
                                <th style="width:6%">
                                    发货区
                                </th>
                                <th style="width:6%">
                                    温层
                                </th>
                                <th style="width:6%">
                                    商品平台
                                </th>
                                <th style="width:5%">
                                    商品名称
                                </th>
                                <th style="width:5%">
                                    商品编码
                                </th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr id="cstock_tr_model" style="height:32px;">
                                <td style="text-align:center;padding-top: 20px;padding-bottom: 30px">
                                    <a onclick="cstockAddObj.delCstock(this);">删除</a>
                                </td>
                                <td>
              					<select name="selectCstock" class="sel_category" style="width:100%;left:120px">
                        			<option value="1">增加库存</option>
		                			<option value="2">减少库存</option>
                				</select>
                                </td>

                                <td>
                                    <input class="control-label inputElement" id="cstockNum" name="cstockNum"
                                           type="text" value="" style=" width: 90%;">

                                </td>
                                <td>
                                    <select name="careaCode" class="sel_category" style=" width: 105%;left:0px">
                                        <option value="1">上海</option>
                                        <option value="4" selected>宝山</option>
                                        <option value="2">北京</option>
                                        <option value="8">广州</option>
                                        <option value="16">武汉</option>
                                        <option value="32">成都</option>
                                        <option value="64">济南</option>
                                        <option value="128">福州</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="cstoredType" class="sel_category" style="width:105%;left:0px">
                                        <option value=1>常温</option>
                                        <option value=2>冷藏</option>
                                        <option value=3>冷冻</option>
                                    </select>
                                </td>
                                <td>
              					<select name="cwebID" class="sel_category" style="width:105%;left:00px">
                        			<option value="1">易果</option>
		                			<option value="4">原膳</option>
		                			<option value="8">锦色</option>
                				</select>
                                </td>
                                <td>
                                    <input class="control-label inputElement" id="commodityName" name="commodityName"
                                           type="text" value="" style=" width: 90%;">

                                </td>

                                <td>
                                    <input class="control-label inputElement" id="commodityCode" name="commodityCode"
                                           type="text" value="" style=" width: 90%;">
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <script>


                        $(function () {

                            $('#btnSelectStock').click(function () {//点击按钮查询
                                //要提交的表单id为form1
                                $.ajax({
                                    url: "SelectStock",
                                    data: $("#stock_form1").serialize(),
                                    type: "post",
                                    success: function (data) {//ajax返回的数据
{#                                        document.getElementById('aaa').innerHTML=data;#}
                                        if (data =='编码未填写') {document.getElementById('aaa').innerHTML="<font color='red'>编码未填写</font>";}
                                        else{
                                            document.getElementById('aaa').innerHTML=data;
                                        }

                                    }
                                });
                            });
                        });
                    </script>
                    <script>
                        var pstockAddObj = new bpm.promotionPriceFull.pstockAdd({containerID: 'pstockCreateContainer'});
                        if ($('#pstockCreateContainer').find('#pstock_tb>tbody>tr').length == 0) {
                            pstockAddObj.addPstock();

                        }

                        $(function () {

                            $('#btnSaveActivityPstock').click(function () {//点击按钮提交
                                //要提交的表单id为form1

                                $.ajax({
                                    url: "stock",
                                    data: $("#stock_form").serialize(),
                                    type: "post",
                                    success: function (data) {//ajax返回的数据
                                        if (data != 'ok' & data != 'OK') {
                                            alertMsg(data, 0, '');
                                        } else {
                                            window.location.reload();
                                        }

                                    }
                                });
                            });


                        });
                    </script>

                    <script>
                        var cstockAddObj = new bpm.promotionPriceFull.cstockAdd({containerID: 'cstockCreateContainer'});
                        if ($('#cstockCreateContainer').find('#cstock_tb>tbody>tr').length == 0) {
                            cstockAddObj.addCstock();

                        }

                        $(function () {

                            $('#btnSaveActivityCstock').click(function () {//点击按钮提交
                                //要提交的表单id为form1
                                $("#loadingDiv").css("display","block");
                                $.ajax({
                                    url: "newStock", 
                                    data: $("#stock_form").serialize(),
                                    type: "post",
                                    success: function (data) {//ajax返回的数据
                                        if (data != 'ok' & data != 'OK') {
								            $("#loadingDiv").css("display","none");
                                            alertMsg(data, 0, '');
                                        } else {
                                            window.location.reload();
                                        }

                                    }
                                });
                            });


                        });
                    </script>


                <div class="modal-footer">
                    <img src="/static/dataCreate/ys/loading2.gif" id="imgLoading" style="display:none;">
                    <input id="btnSaveActivityCstock" type="button" value="创建" class="btn green btnWidth"
                           style="width: 105px;"/>  
                    <button type="button" class="btn red btnWidth activity_price_close" data-dismiss="modal"
                            id="btnImport_cancel">取消
                    </button>
                </div>
            </form>
            <table style="display:none;" class="innerTable">
                <tbody>
                <tr id="cstock_tr_model" style="height:32px;">

                    <td style="text-align:center;">
                        <a onclick="cstockAddObj.delCstock(this);">删除</a>
                    </td>


                    <td>
                        <input class="control-label inputElement" id="productCode" name="productCode" type="text"
                               value="" style=" width: 90%;">

                    </td>

                    <td>
                        <input class="control-label inputElement" id="productNum" name="productNum" type="text"
                               value="1" style=" width: 90%;">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $('.form_datetime').datetimepicker({
        format: 'yyyy/mm/dd',
        pickerPosition: "bottom-left",
        todayBtn: true,
        language: 'zh-CN',
        weekStart: 7,
        autoclose: true,
        minView: 2
    });

    $(".datetime_activityStartTime").click(function () {
        $("#ActivityStartTime").datetimepicker('show');

    });

    $(".datetime_activityEndTime").click(function () {
        $("#ActivityEndTime").datetimepicker('show');
    });


</script>